In [1]:
import settings.config as cfg

dataset_folder = cfg.dataset_folder
preprocessed_dataset_folder = cfg.preprocessed_dataset_folder
#min_ratings_per_item = cfg.min_ratings_per_item

In [2]:
import pandas as pd
import pickle

ratings_df = pd.read_csv(dataset_folder+"/ratings.csv")
group_composition = pickle.load(open(dataset_folder+"/group_composition.pkl", "rb"))
display(group_composition)

{1: {'group_size': 4, 'group_members': [26323, 42775, 41651, 32327]},
 10: {'group_size': 4, 'group_members': [99855, 80934, 9488, 86840]},
 11: {'group_size': 4, 'group_members': [99355, 76869, 43978, 30600]},
 12: {'group_size': 4, 'group_members': [89066, 17384, 56579, 62404]},
 13: {'group_size': 4, 'group_members': [66485, 31561, 31976, 53265]},
 14: {'group_size': 2, 'group_members': [96341, 64074]},
 15: {'group_size': 2, 'group_members': [752, 73779]},
 16: {'group_size': 3, 'group_members': [43778, 9371, 71238]},
 17: {'group_size': 4, 'group_members': [58708, 74772, 6990, 29112]},
 18: {'group_size': 4, 'group_members': [87821, 45831, 48507, 66062]},
 2: {'group_size': 2, 'group_members': [12627, 88865]},
 20: {'group_size': 3, 'group_members': [24623, 57710, 48826]},
 22: {'group_size': 3, 'group_members': [49924, 66179, 45608]},
 23: {'group_size': 4, 'group_members': [64219, 87750, 30719, 73790]},
 24: {'group_size': 3, 'group_members': [65793, 45113, 21293]},
 25: {'group_size': 2, 'group_members': [41962, 38222]},
 26: {'group_size': 4, 'group_members': [25813, 1829, 39105, 52966]},
 27: {'group_size': 3, 'group_members': [38459, 30182, 72828]},
 28: {'group_size': 3, 'group_members': [69532, 87946, 13715]},
 29: {'group_size': 2, 'group_members': [90580, 70463]},
 3: {'group_size': 4, 'group_members': [9842, 28944, 25670, 7120]},
 31: {'group_size': 5, 'group_members': [96863, 62217, 55827, 75873, 48358]},
 32: {'group_size': 3, 'group_members': [17883, 87155, 93874]},
 33: {'group_size': 4, 'group_members': [1285, 21158, 36152, 66104]},
 34: {'group_size': 3, 'group_members': [94345, 88835, 86851]},
 35: {'group_size': 4, 'group_members': [26974, 93540, 74152, 97525]},
 36: {'group_size': 5, 'group_members': [20998, 52805, 2210, 3475, 2916]},
 37: {'group_size': 3, 'group_members': [96572, 93696, 29599]},
 38: {'group_size': 4, 'group_members': [30796, 45600, 6361, 86626]},
 39: {'group_size': 5, 'group_members': [36636, 20301, 75901, 82766, 5924]},
 40: {'group_size': 4, 'group_members': [83623, 12351, 9795, 4824]},
 41: {'group_size': 3, 'group_members': [77543, 9252, 33134]},
 42: {'group_size': 4, 'group_members': [39025, 37786, 20926, 2276]},
 43: {'group_size': 3, 'group_members': [37757, 24977, 73950]},
 44: {'group_size': 2, 'group_members': [78484, 1386]},
 45: {'group_size': 4, 'group_members': [8103, 41643, 79649, 15056]},
 46: {'group_size': 4, 'group_members': [3806, 98758, 86963, 39470]},
 47: {'group_size': 5, 'group_members': [60134, 80665, 49508, 1041, 72204]},
 48: {'group_size': 3, 'group_members': [42864, 37637, 62667]},
 49: {'group_size': 3, 'group_members': [30116, 76454, 73914]},
 5: {'group_size': 4, 'group_members': [62406, 77188, 33717, 66401]},
 50: {'group_size': 4, 'group_members': [19307, 76188, 87557, 95560]},
 51: {'group_size': 4, 'group_members': [51243, 98808, 88515, 988]},
 52: {'group_size': 4, 'group_members': [37765, 70508, 77309, 35647]},
 53: {'group_size': 5, 'group_members': [57893, 42052, 90116, 62362, 94312]},
 54: {'group_size': 5, 'group_members': [19294, 82965, 65359, 7928, 89396]},
 55: {'group_size': 4, 'group_members': [14352, 57410, 98071, 57918]},
 56: {'group_size': 4, 'group_members': [92563, 98977, 87327, 95723]},
 57: {'group_size': 4, 'group_members': [45552, 56774, 75071, 46253]},
 58: {'group_size': 5, 'group_members': [19860, 64313, 74467, 41278, 24253]},
 59: {'group_size': 4, 'group_members': [98557, 87082, 23310, 48900]},
 6: {'group_size': 4, 'group_members': [45987, 62091, 1505, 72079]},
 60: {'group_size': 5, 'group_members': [99070, 96048, 61814, 3509, 36797]},
 61: {'group_size': 2, 'group_members': [9285, 99553]},
 62: {'group_size': 4, 'group_members': [767, 82671, 6330, 69382]},
 63: {'group_size': 3, 'group_members': [84583, 61680, 32306]},
 65: {'group_size': 3, 'group_members': [61557, 6146, 78630]},
 66: {'group_size': 3, 'group_members': [90890, 30603, 21552]},
 67: {'group_size': 4, 'group_members': [14543, 46298, 42813, 80804]},
 68: {'group_size': 4, 'group_members': [40138, 77315, 25697, 58627]},
 69: {'group_size': 4, 'group_members': [3157, 21560, 42251, 30430]},
 70: {'group_size': 4, 'group_members': [54867, 88646, 97548, 5254]},
 71: {'group_size': 4, 'group_members': [15889, 71834, 61128, 60056]},
 73: {'group_size': 4, 'group_members': [93826, 41775, 55086, 7665]},
 74: {'group_size': 4, 'group_members': [43520, 70399, 31414, 91197]},
 75: {'group_size': 4, 'group_members': [25433, 91000, 10401, 35512]},
 76: {'group_size': 4, 'group_members': [54550, 19494, 26852, 86907]},
 78: {'group_size': 4, 'group_members': [78774, 30865, 49224, 20693]},
 79: {'group_size': 2, 'group_members': [37072, 59469]},
 8: {'group_size': 2, 'group_members': [30377, 94111]},
 80: {'group_size': 4, 'group_members': [28007, 60872, 40465, 21599]},
 81: {'group_size': 3, 'group_members': [48372, 1194, 41970]},
 82: {'group_size': 5, 'group_members': [75358, 99004, 65037, 51622, 7632]},
 83: {'group_size': 3, 'group_members': [61142, 32467, 32573]},
 84: {'group_size': 2, 'group_members': [56798, 59662]},
 85: {'group_size': 2, 'group_members': [68525, 76237]},
 86: {'group_size': 4, 'group_members': [76936, 73086, 86937, 44231]},
 87: {'group_size': 2, 'group_members': [92076, 71467]},
 9: {'group_size': 3, 'group_members': [26168, 8942, 66904]}}

In [3]:
# Check number of ratings per user
rating_per_user_df = ratings_df.groupby(['user']).count().sort_values(by="rating", ascending=False)
display(rating_per_user_df)

# Check number of ratings per item
rating_per_item_df = ratings_df.groupby(['item']).count().sort_values(by="rating", ascending=False)
display(rating_per_item_df)

       item  rating  rank
user
752      10      10    10
66485    10      10    10
70508    10      10    10
70463    10      10    10
70399    10      10    10
...     ...     ...   ...
1829      6       6     6
72828     6       6     6
41962     6       6     6
13715     6       6     6
87946     6       6     6

[282 rows x 3 columns]

      user  rating  rank
item
D1     282     282   282
D2     282     282   282
D3     282     282   282
D7     282     282   282
D8     282     282   282
D9     282     282   282
D10    270     270   270
D4     270     270   270
D5     270     270   270
D6     270     270   270

In [4]:
# compute group members' preference similarity at the group level
import numpy as np
import ast

def footrule_similarity(user_ratings, gr_composition):
    diversity = pd.DataFrame(columns = ['group_id', 'user_A', 'user_B', 'distance'])
    
    for group_id in gr_composition:
        group = gr_composition[group_id]
        group_size = group['group_size']
        members = group['group_members']
        j = 0
        while(j < group_size-1):
            k = j+1
            while(k <= group_size-1):
                ratings_A = np.array(user_ratings.loc[user_ratings['user'] == members[j], 'rating'])
                ratings_B = np.array(user_ratings.loc[user_ratings['user'] == members[k], 'rating'])
                div = np.sum(np.abs(ratings_A-ratings_B))
                new_row = pd.DataFrame([[group_id, members[j], members[k], div]], 
                                       columns=['group_id', 'user_A', 'user_B', 'distance'])
                diversity = pd.concat([diversity, new_row], axis=0, ignore_index=True)
                k+=1
            j+=1

    sim = diversity
    sim['similarity_score'] = (sim['distance'].max()-sim['distance'])/(sim['distance'].max()-sim['distance'].min())
    sim = sim[['group_id', 'user_A', 'user_B', 'similarity_score']]
    similarity = sim.groupby('group_id')['similarity_score'].mean().reset_index()
    similarity['similarity'] = "similar"
    similarity.loc[similarity.similarity_score < similarity['similarity_score'].median(),'similarity'] = 'divergent'
    display(similarity['similarity_score'].median())
    
    
    return similarity

def add_similarity_to_group_composition(gr_composition,similarity):
    composition = gr_composition
    for group_id in composition:
        group = composition[group_id]
        composition[group_id]['group_similarity'] = similarity.loc[similarity['group_id'] == group_id]['similarity'].values[0]

    return composition

In [5]:
similarity = footrule_similarity(ratings_df, group_composition)
new_gr_composition = add_similarity_to_group_composition(group_composition, similarity)
display(new_gr_composition)

0.5467836257309941

{1: {'group_size': 4,
  'group_members': [26323, 42775, 41651, 32327],
  'group_similarity': 'divergent'},
 10: {'group_size': 4,
  'group_members': [99855, 80934, 9488, 86840],
  'group_similarity': 'divergent'},
 11: {'group_size': 4,
  'group_members': [99355, 76869, 43978, 30600],
  'group_similarity': 'divergent'},
 12: {'group_size': 4,
  'group_members': [89066, 17384, 56579, 62404],
  'group_similarity': 'divergent'},
 13: {'group_size': 4,
  'group_members': [66485, 31561, 31976, 53265],
  'group_similarity': 'similar'},
 14: {'group_size': 2,
  'group_members': [96341, 64074],
  'group_similarity': 'similar'},
 15: {'group_size': 2,
  'group_members': [752, 73779],
  'group_similarity': 'divergent'},
 16: {'group_size': 3,
  'group_members': [43778, 9371, 71238],
  'group_similarity': 'divergent'},
 17: {'group_size': 4,
  'group_members': [58708, 74772, 6990, 29112],
  'group_similarity': 'divergent'},
 18: {'group_size': 4,
  'group_members': [87821, 45831, 48507, 66062],
  'group_similarity': 'divergent'},
 2: {'group_size': 2,
  'group_members': [12627, 88865],
  'group_similarity': 'similar'},
 20: {'group_size': 3,
  'group_members': [24623, 57710, 48826],
  'group_similarity': 'similar'},
 22: {'group_size': 3,
  'group_members': [49924, 66179, 45608],
  'group_similarity': 'similar'},
 23: {'group_size': 4,
  'group_members': [64219, 87750, 30719, 73790],
  'group_similarity': 'divergent'},
 24: {'group_size': 3,
  'group_members': [65793, 45113, 21293],
  'group_similarity': 'divergent'},
 25: {'group_size': 2,
  'group_members': [41962, 38222],
  'group_similarity': 'similar'},
 26: {'group_size': 4,
  'group_members': [25813, 1829, 39105, 52966],
  'group_similarity': 'similar'},
 27: {'group_size': 3,
  'group_members': [38459, 30182, 72828],
  'group_similarity': 'similar'},
 28: {'group_size': 3,
  'group_members': [69532, 87946, 13715],
  'group_similarity': 'similar'},
 29: {'group_size': 2,
  'group_members': [90580, 70463],
  'group_similarity': 'similar'},
 3: {'group_size': 4,
  'group_members': [9842, 28944, 25670, 7120],
  'group_similarity': 'similar'},
 31: {'group_size': 5,
  'group_members': [96863, 62217, 55827, 75873, 48358],
  'group_similarity': 'divergent'},
 32: {'group_size': 3,
  'group_members': [17883, 87155, 93874],
  'group_similarity': 'similar'},
 33: {'group_size': 4,
  'group_members': [1285, 21158, 36152, 66104],
  'group_similarity': 'divergent'},
 34: {'group_size': 3,
  'group_members': [94345, 88835, 86851],
  'group_similarity': 'divergent'},
 35: {'group_size': 4,
  'group_members': [26974, 93540, 74152, 97525],
  'group_similarity': 'divergent'},
 36: {'group_size': 5,
  'group_members': [20998, 52805, 2210, 3475, 2916],
  'group_similarity': 'divergent'},
 37: {'group_size': 3,
  'group_members': [96572, 93696, 29599],
  'group_similarity': 'divergent'},
 38: {'group_size': 4,
  'group_members': [30796, 45600, 6361, 86626],
  'group_similarity': 'divergent'},
 39: {'group_size': 5,
  'group_members': [36636, 20301, 75901, 82766, 5924],
  'group_similarity': 'divergent'},
 40: {'group_size': 4,
  'group_members': [83623, 12351, 9795, 4824],
  'group_similarity': 'similar'},
 41: {'group_size': 3,
  'group_members': [77543, 9252, 33134],
  'group_similarity': 'divergent'},
 42: {'group_size': 4,
  'group_members': [39025, 37786, 20926, 2276],
  'group_similarity': 'divergent'},
 43: {'group_size': 3,
  'group_members': [37757, 24977, 73950],
  'group_similarity': 'similar'},
 44: {'group_size': 2,
  'group_members': [78484, 1386],
  'group_similarity': 'similar'},
 45: {'group_size': 4,
  'group_members': [8103, 41643, 79649, 15056],
  'group_similarity': 'divergent'},
 46: {'group_size': 4,
  'group_members': [3806, 98758, 86963, 39470],
  'group_similarity': 'divergent'},
 47: {'group_size': 5,
  'group_members': [60134, 80665, 49508, 1041, 72204],
  'group_similarity': 'divergent'},
 48: {'group_size': 3,
  'group_members': [42864, 37637, 62667],
  'group_similarity': 'divergent'},
 49: {'group_size': 3,
  'group_members': [30116, 76454, 73914],
  'group_similarity': 'divergent'},
 5: {'group_size': 4,
  'group_members': [62406, 77188, 33717, 66401],
  'group_similarity': 'similar'},
 50: {'group_size': 4,
  'group_members': [19307, 76188, 87557, 95560],
  'group_similarity': 'similar'},
 51: {'group_size': 4,
  'group_members': [51243, 98808, 88515, 988],
  'group_similarity': 'similar'},
 52: {'group_size': 4,
  'group_members': [37765, 70508, 77309, 35647],
  'group_similarity': 'similar'},
 53: {'group_size': 5,
  'group_members': [57893, 42052, 90116, 62362, 94312],
  'group_similarity': 'similar'},
 54: {'group_size': 5,
  'group_members': [19294, 82965, 65359, 7928, 89396],
  'group_similarity': 'similar'},
 55: {'group_size': 4,
  'group_members': [14352, 57410, 98071, 57918],
  'group_similarity': 'divergent'},
 56: {'group_size': 4,
  'group_members': [92563, 98977, 87327, 95723],
  'group_similarity': 'divergent'},
 57: {'group_size': 4,
  'group_members': [45552, 56774, 75071, 46253],
  'group_similarity': 'similar'},
 58: {'group_size': 5,
  'group_members': [19860, 64313, 74467, 41278, 24253],
  'group_similarity': 'divergent'},
 59: {'group_size': 4,
  'group_members': [98557, 87082, 23310, 48900],
  'group_similarity': 'divergent'},
 6: {'group_size': 4,
  'group_members': [45987, 62091, 1505, 72079],
  'group_similarity': 'similar'},
 60: {'group_size': 5,
  'group_members': [99070, 96048, 61814, 3509, 36797],
  'group_similarity': 'divergent'},
 61: {'group_size': 2,
  'group_members': [9285, 99553],
  'group_similarity': 'similar'},
 62: {'group_size': 4,
  'group_members': [767, 82671, 6330, 69382],
  'group_similarity': 'similar'},
 63: {'group_size': 3,
  'group_members': [84583, 61680, 32306],
  'group_similarity': 'similar'},
 65: {'group_size': 3,
  'group_members': [61557, 6146, 78630],
  'group_similarity': 'divergent'},
 66: {'group_size': 3,
  'group_members': [90890, 30603, 21552],
  'group_similarity': 'similar'},
 67: {'group_size': 4,
  'group_members': [14543, 46298, 42813, 80804],
  'group_similarity': 'divergent'},
 68: {'group_size': 4,
  'group_members': [40138, 77315, 25697, 58627],
  'group_similarity': 'divergent'},
 69: {'group_size': 4,
  'group_members': [3157, 21560, 42251, 30430],
  'group_similarity': 'divergent'},
 70: {'group_size': 4,
  'group_members': [54867, 88646, 97548, 5254],
  'group_similarity': 'similar'},
 71: {'group_size': 4,
  'group_members': [15889, 71834, 61128, 60056],
  'group_similarity': 'divergent'},
 73: {'group_size': 4,
  'group_members': [93826, 41775, 55086, 7665],
  'group_similarity': 'similar'},
 74: {'group_size': 4,
  'group_members': [43520, 70399, 31414, 91197],
  'group_similarity': 'divergent'},
 75: {'group_size': 4,
  'group_members': [25433, 91000, 10401, 35512],
  'group_similarity': 'similar'},
 76: {'group_size': 4,
  'group_members': [54550, 19494, 26852, 86907],
  'group_similarity': 'similar'},
 78: {'group_size': 4,
  'group_members': [78774, 30865, 49224, 20693],
  'group_similarity': 'similar'},
 79: {'group_size': 2,
  'group_members': [37072, 59469],
  'group_similarity': 'divergent'},
 8: {'group_size': 2,
  'group_members': [30377, 94111],
  'group_similarity': 'similar'},
 80: {'group_size': 4,
  'group_members': [28007, 60872, 40465, 21599],
  'group_similarity': 'similar'},
 81: {'group_size': 3,
  'group_members': [48372, 1194, 41970],
  'group_similarity': 'similar'},
 82: {'group_size': 5,
  'group_members': [75358, 99004, 65037, 51622, 7632],
  'group_similarity': 'similar'},
 83: {'group_size': 3,
  'group_members': [61142, 32467, 32573],
  'group_similarity': 'similar'},
 84: {'group_size': 2,
  'group_members': [56798, 59662],
  'group_similarity': 'similar'},
 85: {'group_size': 2,
  'group_members': [68525, 76237],
  'group_similarity': 'divergent'},
 86: {'group_size': 4,
  'group_members': [76936, 73086, 86937, 44231],
  'group_similarity': 'similar'},
 87: {'group_size': 2,
  'group_members': [92076, 71467],
  'group_similarity': 'similar'},
 9: {'group_size': 3,
  'group_members': [26168, 8942, 66904],
  'group_similarity': 'divergent'}}

In [6]:
pickle.dump(new_gr_composition, open(preprocessed_dataset_folder+"/group_composition.pkl", "wb"))